venv/
.idea/
.vscode
old_prototype/__pycache__/
segmentation/__pycache__
sample_dicom_2/
sample_dicom
2d3dprototype/__pycache__
visualizationEngine/imageReader/__pycache__
visualizationEngine/segmentation/__pycache__
visualizationEngine/__pycache__
