<h1><center><b>{{ errand.scan }} Examination</b></center></h1>
<p>
    <b>Patient name:</b> {{ patient.first_name }} {{ patient.last_name }}
</p>
<p>
    <b>Patient age:</b> {{ patient.age }}
</p>

<h2> Findings </h2>
{% for annotation in errand.annotations %}
<p>
    <b><a href={{ annotation.GetID() }} style="color: rgb{{ annotation.GetColor() }}"> {{ annotation.GetLocation() }}</a>:</b> <br/>
    <b>*{{ annotation.GetFinding() }}</b><br/>
    {% if annotation.HasNote() %}
        'Doctor's note: {{annotation.GetNote()}}<br/>
    {% endif %}
    {% if annotation.HasWebLink() %}
        <a href={{ "web:" ~ annotation.GetWebLink() }} style="color: rgb{{ annotation.GetColor() }}">More Info</a></b>
    {% endif %}
</p>
{%- endfor %}

<h2> Impressions </h2>
{% for impression in errand.impressions %}
<p>
    <b>{{ impression.GetDoctor() }}:</b> <br/>
    <b>*{{ impression.GetImpression() }}</b><br/>
</p>
{%- endfor %}